<section class="checkout">
    <div class="checkout__title">
        Спасибо за доверие и ваши ответы!
    </div>

    <div class="checkout__text t_1">
        Хочу вам сказать, что мой курс “SmartDetoxic” составлен таким образом, чтобы результат оставался с вами как
        можно дольше
        <span class="b">
            без диет, голодания, изнурительных тренировок.
        </span>
    </div>

    <div class="checkout__mini-title green b mt_1">
        Что входит в вашу программу?
    </div>

    <ul class="checkout__price-list">
        <li class="checkout__price-list-item">
            <img src="img/icons/menu.webp" alt="menu">
            <p>
                <span class="b">
                    Два варианта меню
                </span>
                на неделю из недорогих, но очень полезных продуктов
            </p>
        </li>
        <li class="checkout__price-list-item">
            <img src="img/icons/yoga.webp" alt="yoga">
            <p>
                <span class="b">
                    Три урока по йоге
                </span>
                для начинающих. Я включила так называемые detox асаны. Без оборудования. Только вы и ваше тело
            </p>
        </li>
        <li class="checkout__price-list-item">
            <img src="img/icons/drink.webp" alt="drink">
            <p>
                <span class="b">
                    Три варианта detox – напитков,
                </span>
                которые вы сможете приготовить дома легко и быстро
            </p>
        </li>
        <li class="checkout__price-list-item">
            <img src="img/icons/Facebook.webp" alt="Facebook">
            <p>
                <span class="b">
                    Ежедневная поддержка в группе Facebook:
                </span>
                живое общение со мною и участниками курса. Ваш путь будет легким, увлекательным, а главное –
                эффективным
            </p>
        </li>
    </ul>

    <div class="checkout__mini-title b mt_2">
        За 10 лет практики - более 1000 людей
        <span class="green b">
            УЖЕ сказали мне спасибо!
        </span>
    </div>

    <ul class="checkout__advantages">
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">
                10
            </div>
            <div class="checkout__advantage-desc">
                лет
                <br>
                практики
            </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">
                1348
            </div>
            <div class="checkout__advantage-desc">
                здоровых
                <br>
                участников
            </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">
                1348
            </div>
            <div class="checkout__advantage-desc">
                detox
                <br>
                программ
            </div>
        </li>
    </ul>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide_1">
                <div class="slide__title">
                    Хорошая программа, - 5 кг неделю!
                </div>
                <div class="slide__text">
                    Я решила попробовать этот курс, так как давно хочу похудеть, что я только не пробовала, диеты, тренировки, а все не то. Ирина действительно профессионал! Сперва у меня была консультация, и потом мне выслала мою программу. Ирина подобрала для меня меню, и я через неделю уже скинула 5 кг, не голодая! Также я стала меньше есть сладкого. Я очень довольна, двигаюсь дальше!
                </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name">
                            Елена
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="swiper-slide slide_2">
                <div class="slide__title">
                    Поддержка в чате, эффективная программа
                </div>
                <div class="slide__text">
                    Я всегда был полным, с детства, также у меня гипотериоз. Я прошел тест, пообщался с Ириной. Сейчас у меня программа, и я ей следую. Прошла всего неделя, но чувствую себя в разы лучше. Я доволен, кстати мужчин в чате много, не только женщинам это нужно. Спасибо, двигаюсь по курсу дальше)
                </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name">
                            Максим
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="swiper-slide slide_3">
                <div class="slide__title">
                    Вкусные детокс напитки, потеря веса, отличное настроение, поддержка
                </div>
                <div class="slide__text">
                    После 2 беременности я стала много набирать, меня это беспокоит. Решила попробовать купить курс, так как очередная диета привела к срыву и я еще больше набрала. Понравился тот момент, что мы без стеснения общаемся в чате с другими участниками программы, это очень мотивирует. Также сейчас в моем рационе есть продукты, которые я раньше не ела, но они мне необходимы. Также это узнала от Ирины, за что ей большое спасибо. Я перестала винить себя за еду, пью детокс напитки, худею, вес уходит постепенно и это здорово. Из плюсов кожа стала свежее и лучше выглядеть без косметики.
                </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name">
                            Мария
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="swiper-slide slide_4">
                <div class="slide__title">
                    Вкусные детокс рецепты, хорошая несложная программа
                </div>
                <div class="slide__text">
                    Сначала честно я не верила в это, но за такие небольшие деньги я решила попробовать, так как проблемы лишнего веса есть, детокс нужен точно. Ирина – отзывчивый и доброжелательный человек, более того, она профессионал своего дела. Мы пообщались, я сдала нужные анализы. Мы начали работать 2 недели назад, и я сейчас как будто на другой. планете. Вес сдвинулся с места, при этом я не голодаю, стала больше ходить пешком, пью специальные напитки вместо сладкого любимого чая). Я довольна, результаты есть. Рекомендую
                </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name">
                            Евгения
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

        </div>

    </div>

    <div class="checkout__mini-title b mt_6">
        О программе подробнее:
    </div>

    <ul class="checkout__about">
        <li class="checkout__about-item ai_1">
            <img src="img/icons/health.webp" alt="">
            <p>
                Основана на принципах и методах
                <span class="b">
                    превентивной медицины
                </span>
            </p>
        </li>
        <li class="checkout__about-item ai_2">
            <img src="img/icons/online.webp" alt="">
            <p>
                <span class="b">
                    Работающие
                </span>
                программы от эксперта курса
            </p>
        </li>
        <li class="checkout__about-item ai_3">
            <img src="img/icons/crowd.webp" alt="">
            <p>
                <span class="b">
                    Ограниченный набор
                </span>
                участников в потоке:
                <span class="green b">
                    до 10 человек
                </span>
            </p>
        </li>
        <li class="checkout__about-item ai_4">
            <img src="img/icons/information.webp" alt="">
            <p>
                <span class="b">
                    Персонализированный
                </span>
                <br>
                подход
            </p>
        </li>
        <li class="checkout__about-item ai_5">
            <img src="img/icons/healthcare.webp" alt="">
            <p>
                Подойдет для всех, кто хочет улучшить свое здоровье, укрепить иммунитет
                <span class="b">
                    без лекарств и добавок
                </span>
            </p>
        </li>
    </ul>

    <button class="test-button-href up_checkout" href="#go_to_pay">
        ЗАПИСАТЬСЯ
    </button>

    <div class="checkout__mini-title b mt_4">
        4 причины выбрать мой курс:
    </div>

    <ul class="checkout__reasons">
        <li class="checkout__reason">
            <span class="checkout__orange b">
                1.
            </span>
            Вы чувствуете, что вам нужен детокс, но не знаете с чего начать
        </li>
        <li class="checkout__reason">
            <span class="checkout__orange b">
                2.
            </span>
            У вас появились проблемы со здоровьем
        </li>
        <li class="checkout__reason">
            <span class="checkout__orange b">
                3.
            </span>
            Вы хотите похудеть без диет и тренировок
        </li>
        <li class="checkout__reason">
            <span class="checkout__orange b">
                4.
            </span>
            Вы хотите укрепить иммунитет без лекарств и БАДов
        </li>
    </ul>

    <div class="checkout__mini-title b mt_5">
        <span class="green b">
            5 ярких преимуществ
        </span>
        курса:
    </div>

    <div class="checkout__advantages2-container">
        <img src="img/yoga-W.webp" alt="" class="img">
        <div class="checkout__advantages2">
            <img src="img/yoga-W.webp" alt="" class="img m">
            <span class="check-mark"></span> Программы обладает не меньшей эффективностью, чем система
            сокового/интервального голодания
            <br>
            <div class="space"></div>
            <span class="check-mark"></span> Каждая программа содержит детальные списки продуктов на каждую неделю с
            указанием количества ингредиентов
            <br>
            <div class="space"></div>
            <span class="check-mark"></span> Каждая программа содержит простые и вкусные рецепты, которые подойдут не
            только вам, но и вашим близким
            <br>
            <div class="space"></div>
            <span class="check-mark"></span> Без риска для здоровья
            <br>
            <div class="space"></div>
            <span class="check-mark"></span> Стоимость подписки в 3 раза ниже, чем курс в медицинском учреждении
        </div>
    </div>

    <div class="checkout__sale sale" id="go_to_pay">
        <div class="sale__title">
            Получите доступ на 7 дней
            <span class="b">
                и начните меняться уже сегодня!
            </span>
        </div>
        <div class="sale__time time">
            <div class="time__hours hours">
                <div class="hours__value green b"></div>
                <div class="hours__text">
                    часов
                </div>
            </div>
            <div class="time__points green b">
                :
            </div>
            <div class="time__minutes minutes">
                <div class="minutes__value green b"></div>
                <div class="minutes__text">
                    минуты
                </div>
            </div>
            <div class="time__points green b">
                :
            </div>
            <div class="time__seconds seconds">
                <div class="seconds__value green b"></div>
                <div class="seconds__text">
                    секунд
                </div>
            </div>
        </div>
        <div class="sale__price-list">
            <div class="Fst-line">
                <span>
                    7 дней за:
                </span>
                <span>
                    <span class="sale__line-through">$4.99</span>
                    $0.99
                </span>
            </div>
            <div class="Snd-line">
                <span>
                    После:
                </span>
                <span>
                    <span class="sale__line-through">$199.99</span>
                    $89.99/ 2 месяца
                </span>
            </div>
            <div class="sale__line"></div>
            <div class="Trd-line">
                Сейчас вы платите:
                <b class="sale__orange">
                    всего $0.99
                </b>
            </div>
        </div>
        <button class="test__button up_checkout">
            ХОЧУ НА КУРС
        </button>
    </div>

    <div class="checkout__mini-title b mt_3">
        Что вы получите сразу после оплаты:
    </div>

    <ul class="checkout__get">
        <li class="checkout__get-item">
            <img src="img/icons/check-mark.webp" alt="check-mark">
            Индивидуальную Detox программу, адаптированную под ваше время, потребности и график
        </li>
        <li class="checkout__get-item">
            <img src="img/icons/check-mark.webp" alt="check-mark">
            Личную онлайн-консультацию со автором курса
        </li>
        <li class="checkout__get-item">
            <img src="img/icons/check-mark.webp" alt="check-mark">
            Доступ к закрытому чату поддержки
        </li>
    </ul>
</section>
