<section class="checkout">
    <div class="checkout__title"> Děkujeme za vaši důvěru a za vaše odpovědi! </div>
    <div class="checkout__text t_1"> Chci vám říct, že můj kurz &quot;SmartDetoxic&quot; je navržený tak, že
        vám poskytne dlouhotrvající výsledky <span class="b"> bez diet, hladovění a náročných tréninků.
        </span></div>
    <div class="checkout__mini-title green b mt_1"> Co obsahuje váš plán? </div>
    <ul class="checkout__price-list">
        <li class="checkout__price-list-item"><img
                src="img/icons/menu.webp"
                alt="menu">
            <p><span class="b"> Dvě možnosti jídelníčku </span> na týden, plných levných, ale užitečných
                potravin </p>
        </li>
        <li class="checkout__price-list-item"><img
                src="img/icons/yoga.webp"
                alt="yoga">
            <p><span class="b"> Tři lekce jógy </span> pro začátečníky. Zahrnula jsem tzv. detox asany. Bez
                vybavení. Jen vy a vaše tělo. </p>
        </li>
        <li class="checkout__price-list-item"><img
                src="img/icons/drink.webp"
                alt="drink">
            <p><span class="b"> Tři možnosti detox drinků, </span> které si můžete připravit snadno a rychle
                doma </p>
        </li>
        <li class="checkout__price-list-item"><img
                src="img/icons/Facebook.webp"
                alt="Facebook">
            <p><span class="b"> Denní podpora ve Facebookové skupině: </span> živá komunikace se mnou a
                ostatními účastníky kurzu. Vaše cesta bude snadná, vzrušující a hlavně - efektivní </p>
        </li>
    </ul>
    <div class="checkout__mini-title b mt_2"> Za 10 let praxe - více než 1000 Lidí <span class="green b"> mi
            už PODĚKOVALO! </span></div>
    <ul class="checkout__advantages">
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">10</div>
            <div class="checkout__advantage-desc"> léta <br> praxe </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">1348</div>
            <div class="checkout__advantage-desc"> zdraví <br> účastníci </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">1348</div>
            <div class="checkout__advantage-desc"> detox <br> plány </div>
        </li>
    </ul>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide_1">
                <div class="slide__title"> Dobrý program, -5 kg za týden! </div>
                <div class="slide__text"> Rozhodla jsem se zkusit tento kurz, protože jsem už dlouho chtěla
                    zhubnout. Zkusila jsem všechno možné, diety, cvičení, ale nic nepomáhalo. Irena je
                    opravdu profesionálka! První jsme měly konzultaci a potom mi poslala můj plán. Vybrala
                    pro mě jídelníček a po týdnu jsem zhubla 5 kg aniž bych měla hlad! Také jsem přestala
                    jíst tolik sladkého. Jsem velmi spokojená a pokračuji dál! </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Helena </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_2">
                <div class="slide__title"> Podpora v chatu, efektivní program </div>
                <div class="slide__text"> Vždy jsem byl obézní, už od dětství. Navíc mám špatnou štítnou
                    žlázu. Udělal jsem si test a měl konzultaci s Irenou. Nyní mám program, který dodržuji.
                    Je to zatím jen týden, ale cítím se o hodně lépe. Jsem spokojený. Mimochodem, programu
                    se účastní i hodně mužů - nejen ženy to potřebují. Děkuji vám, pokračuji dál) </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Max </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_3">
                <div class="slide__title"> Lahodné detox drinky, hubnutí, skvělá nálada, podpora </div>
                <div class="slide__text"> Po dvou porodech jsem začala hodně přibírat a trápí mě to.
                    Rozhodla jsem se kurz vyzkoušet a koupit si ho, protože jiná dieta vedla ke zhroucení a
                    já přibrala ještě víc. Líbilo se mi, že na chatu komunikujeme s ostatními účastníky
                    programu - je to velmi motivující. Také se teď v mém jídelníčku objevují potraviny,
                    které jsem dříve nejedla, ačkoli je potřebuji. To jsem se naučila od Ireny, za což jí
                    moc děkuji. Přestala jsem si jídlo vyčítat, piju detoxikační nápoje, postupně hubnu a je
                    to skvělé. Plusem je, že moje pleť je svěžejší a vypadá lépe bez make-upu. </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Marie </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_4">
                <div class="slide__title"> Lahodné detox recepty, praktický plán </div>
                <div class="slide__text"> Ze začátku jsem tomu upřímně nevěřila, ale za tak málo peněž jsem
                    se rozhodla to zkusit, protože mám problém s nadváhou a detox rozhodně potřebuji. Irena
                    je přátelská a reaguje rychle, a navíc je profesionálka. Probraly jsme to spolu, prošla
                    jsem všemi analýzami. Začaly jsme spolupracovat před dvěma týdny a už teď se cítím jako
                    v jiném světě. Váha mi začala klesat a vůbec nehladovím. Více chodím, piju speciální
                    nápoje místo svého oblíbeného sladkého čaje. Jsem spokojená, výsledky se skutečně
                    dostavily. Mohu jedině doporučit </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Jana </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <button class="test-button-href up_checkout" href="#go_to_pay"> PŘIHLASTE SE </button>
    <div class="checkout__mini-title b mt_6"> Více o tomto programu: </div>
    <ul class="checkout__about">
        <li class="checkout__about-item ai_1"><img
                src="img/icons/health.webp"
                alt="">
            <p> Na základě principů a metod <span class="b"> preventivní medicíny </span></p>
        </li>
        <li class="checkout__about-item ai_2"><img
                src="img/icons/online.webp"
                alt="">
            <p><span class="b"> Funkční </span> programy od odborníků z kurzu </p>
        </li>
        <li class="checkout__about-item ai_3"><img
                src="img/icons/crowd.webp"
                alt="">
            <p><span class="b"> Omezený počet </span> míst v kurzu: <span class="green b"> až 10 lidí
                </span></p>
        </li>
        <li class="checkout__about-item ai_4"><img
                src="img/icons/information.webp"
                alt="">
            <p><span class="b"> Personalizovaný </span><br> přístup </p>
        </li>
        <li class="checkout__about-item ai_5"><img
                src="img/icons/healthcare.webp"
                alt="">
            <p> Vhodné pro každého, kdo chce zlepšit své zdraví a posílit imunitu <span class="b"> bez léků
                    a doplňků stravy </span></p>
        </li>
    </ul>
    <div class="checkout__mini-title b mt_4"> 4 důvody, proč si vybrat můj kurz: </div>
    <ul class="checkout__reasons">
        <li class="checkout__reason"><span class="checkout__orange b">1. </span> Máte pocit, že potřebujete
            detox, ale nevíte, kde začít </li>
        <li class="checkout__reason"><span class="checkout__orange b">2. </span> Máte zdravotní problémy
        </li>
        <li class="checkout__reason"><span class="checkout__orange b">3. </span> Chcete zhubnout bez diet a
            cvičení </li>
        <li class="checkout__reason"><span class="checkout__orange b">4. </span> Chcete posílit svoji
            imunitu bez léků a doplňků stravy </li>
    </ul>
    <div class="checkout__mini-title b mt_5"><span class="green b"> 5 jasných výhod </span> tohoto kurzu?
    </div>
    <div class="checkout__advantages2-container"><img
            src="img/yoga-W.webp" alt=""
            class="img">
        <div class="checkout__advantages2"><img
                src="img/yoga-W.webp"
                alt="" class="img m"> <span class="check-mark"></span> Plán není o nic méně efektivní, než
            půsty se šťávami nebo přerušované půsty <br>
            <div class="space"></div><span class="check-mark"></span> Každý program obsahuje detailní
            nákupní seznam na týden s přesně uvedeným množstvím potravin <br>
            <div class="space"></div><span class="check-mark"></span> Každý program obsahuje snadné a
            lahodné recepty, které budou chutnat nejen vám, ale i vašim blízkým <br>
            <div class="space"></div><span class="check-mark"></span> Program nijak neškodí zdraví <br>
            <div class="space"></div><span class="check-mark"></span> Odběr stojí 3x méně, než kurzy v
            lékařských institucích
        </div>
    </div>
    <div class="checkout__sale sale" id="go_to_pay">
        <div class="sale__title"> Získeje 7denní přístup <span class="b"> a začněte svoji změnu ještě dnes!
            </span></div>
        <div class="sale__time time">
            <div class="time__hours hours">
                <div class="hours__value green b"></div>
                <div class="hours__text"> hodin </div>
            </div>
            <div class="time__points green b"> : </div>
            <div class="time__minutes minutes">
                <div class="minutes__value green b"></div>
                <div class="minutes__text"> minut </div>
            </div>
            <div class="time__points green b"> : </div>
            <div class="time__seconds seconds">
                <div class="seconds__value green b"></div>
                <div class="seconds__text"> vteřin </div>
            </div>
        </div>
        <div class="sale__price-list">
            <div class="Fst-line"><span> 7 dní za: </span><span><span class="sale__line-through"> 29.99 Kč
                    </span> 19.99 Kč </span></div>
            <div class="Snd-line"><span> Potom: </span><span><span class="sale__line-through"> 2880.99 Kč </span>
                1929 Kč / 2 měsíce </span></div>
            <div class="sale__line"></div>
            <div class="Trd-line"> Nyní zaplatíte: <b class="sale__orange"> 19.99 Kč</b></div>
        </div><button class="test__button up_checkout"> CHCI TENTO KURZ </button>
    </div>
    <div class="checkout__mini-title b mt_3"> Co získáte ihned po zaplacení: </div>
    <ul class="checkout__get">
        <li class="checkout__get-item"><img
                src="img/icons/check-mark.webp"
                alt="check-mark"> Personalizovaný detox program podle vašich časových možností </li>
        <li class="checkout__get-item"><img
                src="img/icons/check-mark.webp"
                alt="check-mark"> Osobní online konzultaci s autorkou kurzu </li>
        <li class="checkout__get-item"><img
                src="img/icons/check-mark.webp"
                alt="check-mark"> Přístup k soukromému chatu </li>
    </ul>
</section>
