<section class="checkout">
    <div class="checkout__title"> Thank you for your trust and your answers! </div>
    <div class="checkout__text t_1"> I want to tell you that my course &quot;SmartDetoxic&quot; is designed
        so that the result will stay with you as long as possible <span class="b"> without diets,
            starvation, grueling workouts. </span></div>
    <div class="checkout__mini-title green b mt_1"> What goes into your plan? </div>
    <ul class="checkout__price-list">
        <li class="checkout__price-list-item"><img src="img/icons/menu.webp" alt="menu">
            <p><span class="b"> Two options menu </span> for a week of inexpensive but very useful products
            </p>
        </li>
        <li class="checkout__price-list-item"><img src="img/icons/yoga.webp" alt="yoga">
            <p><span class="b"> Three yoga lessons </span> for beginners. I have included so-called detox
                asanas. No equipment. Just you and your body. </p>
        </li>
        <li class="checkout__price-list-item"><img src="img/icons/drink.webp" alt="drink">
            <p><span class="b"> Three options for detox drinks, </span> that you can make at home quickly
                and easily </p>
        </li>
        <li class="checkout__price-list-item"><img src="img/icons/Facebook.webp" alt="Facebook">
            <p><span class="b"> Daily support in the Facebook group: </span> live communication with me and
                the course participants. Your path will be easy, exciting, and, most importantly - effective
            </p>
        </li>
    </ul>
    <div class="checkout__mini-title b mt_2"> In 10 years of practice - more than 1,000 people <span
            class="green b"> have ALREADY said thank you to me! </span></div>
    <ul class="checkout__advantages">
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">10</div>
            <div class="checkout__advantage-desc"> years <br> of practice </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">1348</div>
            <div class="checkout__advantage-desc"> healthy <br> participants </div>
        </li>
        <li class="checkout__advantage">
            <div class="checkout__advantage-main">1348</div>
            <div class="checkout__advantage-desc"> detox <br> plans </div>
        </li>
    </ul>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide_1">
                <div class="slide__title"> Good program, - 11 lbs a week! </div>
                <div class="slide__text"> I&#039;ve decided to try this course as I want to lose weight for
                    a long time. I&#039;ve tried everything, diets, workouts, but got it all wrong. Irene is
                    really a professional! First, I had a consultation and then she sent me my plan. Irene
                    picked up a menu for me and, after a week, I had already lost 11 lbs without going
                    hungry! I also started eating less sweets. I am very satisfied and move on! </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Helen </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_2">
                <div class="slide__title"> Chat support, effective program </div>
                <div class="slide__text"> I have always been obese, ever since childhood, and I also have
                    hypothyroidism. I took a test, talked to Irene. Now I have a program and I am following
                    it. It&#039;s only been a week, but I feel so much better. I am satisfied. By the way,
                    there are a lot of men in the chat room - not only women need this. Thank you, moving
                    forward). </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Max </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_3">
                <div class="slide__title"> Delicious detox drinks, weight loss, great mood, support </div>
                <div class="slide__text"> After two pregnancies, I started to gain a lot of weight and it
                    bothers me. I decided to give the course a try and buy it because another diet led to a
                    breakdown and I put on even more weight. I liked the fact that we communicate freely in
                    the chat with other participants of the plan - it is very motivating. Also, now in my
                    diet there are foods that I did not eat before, although I need them. I&#039;ve learned
                    that from Irene, for what I thank her very much. I stopped blaming myself for food, I
                    drink detox drinks, I lose weight gradually and it&#039;s great. On the plus side, my
                    skin is fresher and looks better without makeup. </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Mary </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-slide slide_4">
                <div class="slide__title"> Delicious detox recipes, a good easy plan </div>
                <div class="slide__text"> At first, to be honest, I did not believe in it, but for such
                    small money I decided to give it a try, since I have a problem with excess weight, and
                    detox is definitely needed. Irene is a responsive and friendly person, moreover, she is
                    a professional. We talked, I passed the necessary analyses. We started working two weeks
                    ago and now I feel like I&#039; m on a different planet. The weight has shifted, and I
                    am not starving, walking more, drinking special drinks instead of my favorite sweet
                    tea). I am satisfied, the results are there. Highly recommend </div>
                <div class="slide__bottom">
                    <div class="slide__autor">
                        <div class="slide__autor_img"></div>
                        <div class="slide__autor_name"> Joanne </div>
                    </div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <button class="test-button-href up_checkout" href="#go_to_pay"> SIGN UP </button>
    <div class="checkout__mini-title b mt_6"> More about the program: </div>
    <ul class="checkout__about">
        <li class="checkout__about-item ai_1"><img src="img/icons/health.webp" alt="">
            <p> Based on the principles and methods of <span class="b"> preventive medicine </span></p>
        </li>
        <li class="checkout__about-item ai_2"><img src="img/icons/online.webp" alt="">
            <p><span class="b"> Working </span> programs from the course expert </p>
        </li>
        <li class="checkout__about-item ai_3"><img src="img/icons/crowd.webp" alt="">
            <p><span class="b"> Limited recruitment </span> of participants in the flow: <span
                    class="green b"> up to 10 people </span></p>
        </li>
        <li class="checkout__about-item ai_4"><img src="img/icons/information.webp" alt="">
            <p><span class="b"> Personalized </span><br> approach </p>
        </li>
        <li class="checkout__about-item ai_5"><img src="img/icons/healthcare.webp" alt="">
            <p> Suitable for anyone who wants to improve their health, boost immunity <span class="b">
                    without drugs or supplements </span></p>
        </li>
    </ul>
    <div class="checkout__mini-title b mt_4"> 4 reasons to choose my course: </div>
    <ul class="checkout__reasons">
        <li class="checkout__reason"><span class="checkout__orange b">1. </span> You feel that you need a
            detox, but don&#039;t know where to start </li>
        <li class="checkout__reason"><span class="checkout__orange b">2. </span> You have a health problem
        </li>
        <li class="checkout__reason"><span class="checkout__orange b">3. </span> You want to lose weight
            without dieting and workouts </li>
        <li class="checkout__reason"><span class="checkout__orange b">4. </span> You want to boost your
            immune system without drugs or dietary supplements </li>
    </ul>
    <div class="checkout__mini-title b mt_5"><span class="green b"> 5 clear advantages </span> of the
        course: </div>
    <div class="checkout__advantages2-container"><img src="img/yoga-W.webp" alt="" class="img">
        <div class="checkout__advantages2"><img src="img/yoga-W.webp" alt="" class="img m"> <span
                class="check-mark"></span> The plan is no less effective than the fasting juice/intermittent
            fasting system <br>
            <div class="space"></div><span class="check-mark"></span> Each program contains detailed grocery
            lists for each week with the specified quantity of ingredients <br>
            <div class="space"></div><span class="check-mark"></span> Each program contains simple and
            delicious recipes that will suit not only you but also your loved ones <br>
            <div class="space"></div><span class="check-mark"></span> No risk to your health <br>
            <div class="space"></div><span class="check-mark"></span> The subscription cost is 3 times lower
            than the course in a medical institution
        </div>
    </div>
    <div class="checkout__sale sale" id="go_to_pay">
        <div class="sale__title"> Get 7-day access <span class="b"> and start changing today! </span></div>
        <div class="sale__time time">
            <div class="time__hours hours">
                <div class="hours__value green b"></div>
                <div class="hours__text"> hours </div>
            </div>
            <div class="time__points green b"> : </div>
            <div class="time__minutes minutes">
                <div class="minutes__value green b"></div>
                <div class="minutes__text"> minutes </div>
            </div>
            <div class="time__points green b"> : </div>
            <div class="time__seconds seconds">
                <div class="seconds__value green b"></div>
                <div class="seconds__text"> seconds </div>
            </div>
        </div>
        <div class="sale__price-list">
            <div class="Fst-line"><span> 7 days for: </span><span><span class="sale__line-through">
                        &#36;4.99 </span> &#36;0.99 </span></div>
            <div class="Snd-line"><span> After: </span><span><span class="sale__line-through"> &#36;199.99
                    </span> &#36;89.99/ 2 months </span></div>
            <div class="sale__line"></div>
            <div class="Trd-line"> You pay now: <b class="sale__orange"> only &#36;0.99 </b></div>
        </div><button class="test__button up_checkout"> I WANT TO THE COURSE </button>
    </div>
    <div class="checkout__mini-title b mt_3"> What will you get right after you pay: </div>
    <ul class="checkout__get">
        <li class="checkout__get-item"><img src="img/icons/check-mark.webp" alt="check-mark"> A
            personalized Detox plan tailored to your time, needs, and schedule </li>
        <li class="checkout__get-item"><img src="img/icons/check-mark.webp" alt="check-mark">
            Personal online consultation with the author of the course </li>
        <li class="checkout__get-item"><img src="img/icons/check-mark.webp" alt="check-mark"> Access
            to the private support chat </li>
    </ul>
</section>
