<section class="contacts">
    <div class="test__title">
        <span class="green b">
            Отлично!
        </span>
        Ваша программа уже готова, и я ее готова вам показать.
    </div>
    <div class="test__text">
        Но перед тем, как перейти к моему курсу, я приготовила небольшой подарок для вас.
    </div>
    <div class="test__gift">
        <img src="img/icons/gift.webp" alt="gift">
        <div class="test__text textG">
            <span class="b">
                Введите свой email, и я вышлю ваш подарок вам
                <span class="green">
                    на почту в течение 5 минут.
                </span>
            </span>
        </div>
    </div>
    <ul class="test__inputs">
        <input id="email-0" type="email" name="email" class="test__input" placeholder="Введите ваш e-mail">
        <div class="test__uncorrect">
            Пожалуйста, введи корректный email
        </div>
    </ul>
    <button class="test__button" data-modal="1" disabled>
        Далее
    </button>
</section>
