<section class="contacts">
    <div class="test__title"><span class="green b"> Great! </span> Your program is all set, and I&#039;m
        ready to show it to you. </div>
    <div class="test__text"> But before we get to my course, I have a little present for you. </div>
    <div class="test__gift"><img src="detoxru/img/icons/gift.webp" alt="gift">
        <div class="test__text textG"><span class="b"> Enter your email, and I will send your gift to your
                <span class="green"> email within 5 minutes. </span></span></div>
    </div>
    <ul class="test__inputs"><input id="email-0" type="email" name="email" class="test__input"
            placeholder="Enter your email">
        <div class="test__uncorrect"> Please enter the correct email address </div>
    </ul><button class="test__button" data-modal="1" disabled="disabled"> Next </button>
</section>
