<section class="contacts">
    <div class="test__title"><span class="green b"> Skvělé! </span> Váš program je připravený, můžu vám ho
        ukázat. </div>
    <div class="test__text"> Než se ale dostaneme k mému kurzu, mám pro vás dárek. </div>
    <div class="test__gift"><img src="img/icons/gift.webp" alt="gift">
        <div class="test__text textG"><span class="b"> Zadejte svůj email, pošlu vám na něj dárek <span class="green">
                    během 5 minut. </span></span></div>
    </div>
    <ul class="test__inputs email"><input id="email-0" type="email" name="email" class="test__input"
            placeholder="Zadejte svoji emailovou adresu">
        <div class="test__uncorrect"> Prosím zadejte správnou emailovou adresu </div>
    </ul><button class="test__button" data-modal="1" disabled="disabled"> Další </button>
</section>
