<article class="loader">
    <div class="loader__wrapper">
        <div data-value="1" id="loader" data-preset="circle" class="ldBar label-center"
            style="width: 100%; height: 100%">
            <p class="loader__percent"><span class="percent"></span> % </p>
        </div>
    </div>
    <h2 class="loader__title"> Analyzujeme informace, které jste zadali… </h2>
    <h2 class="loader__title"> Zpracováváme vaše odpovědi… </h2>
    <h2 class="loader__title"> Počítáme váš body mass index… </h2>
    <h2 class="loader__title"> Váš program je téměř hotový… </h2>
</article>
