<article class="loader">
    <div class="loader__wrapper">
        <div data-value="1" id="loader" data-preset="circle" class="ldBar label-center"
            style="width: 100%; height: 100%">
            <p class="loader__percent"><span class="percent"></span> % </p>
        </div>
    </div>
    <h2 class="loader__title"> Proceeding to analyze the information you entered... </h2>
    <h2 class="loader__title"> Processing your answers... </h2>
    <h2 class="loader__title"> Calculating the body mass index... </h2>
    <h2 class="loader__title"> Your program is almost ready... </h2>
</article>
