<section class="main-page _show">
    <div class="main-page__container-text">
        <div class="main-page__logo"></div>
        <div class="main-page__title title">
            Ответьте на несколько
            <br>
            вопросов
            <span class="main-page__b">
                и получите
            </span>
            <br>
            <span class="title__detox">
                Individual Detox Plan
            </span>
        </div>
        <ul class="main-page__advantages">
            <li class="main-page__advantage1">
                <img src="img/icons/bads.webp" alt="bads">
                без БАДОВ
            </li>
            <li class="main-page__advantage2">
                <img src="img/icons/food.webp" alt="food">
                без диет
            </li>
            <li class="main-page__advantage3">
                <img src="img/icons/calendar.webp" alt="calendar">
                впечатляющий результат надолго
            </li>
        </ul>
        <button class="test__button">
            ПРОЙТИ ТЕСТ
        </button>
    </div>
    <div class="main-page__container-img">
        <div class="main-page__expert"></div>
        <ul class="main-page__awards">
            <li class="main-page__award1">
                <img src="img/icons/trophy.webp" alt="trophy">
                <div class="main-page__text">
                    Автор бестселлера
                    <br>
                    <span class="main-page__b">
                        “Умный Детокс для всех”
                    </span>
                </div>
            </li>
            <li class="main-page__award2">
                <img src="img/icons/reward.webp" alt="reward">
                <div class="main-page__text">
                    Врач
                    <span class="main-page__b">
                        превентивной
                    </span>
                    медицины
                </div>
            </li>
            <li class="main-page__award3">
                <img src="img/icons/wreath.webp" alt="wreath">
                <div class="main-page__text">
                    Автор премиального курса
                    <span class="main-page__b">
                        “SmartDetoxic”
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
