<section class="main-page _show">
    <div class="main-page__container-text">
        <div class="main-page__logo"></div>
        <div class="main-page__title title"> Answer a few <br> questions <span class="main-page__b"> and get
            </span><br><span class="title__detox"> Individual Detox Plan </span></div>
        <ul class="main-page__advantages">
            <li class="main-page__advantage1"><img src="img/icons/bads.webp" alt="bads"> no dietary
                supplements </li>
            <li class="main-page__advantage2"><img src="img/icons/food.webp" alt="food"> no diets
            </li>
            <li class="main-page__advantage3"><img src="img/icons/calendar.webp" alt="calendar">
                impressive long-term result </li>
        </ul><button class="test__button"> TAKE THE TEST </button>
    </div>
    <div class="main-page__container-img">
        <div class="main-page__expert"></div>
        <ul class="main-page__awards">
            <li class="main-page__award1"><img src="img/icons/trophy.webp" alt="trophy">
                <div class="main-page__text"> Bestselling Author <br>of <span class="main-page__b">
                    &quot;Smart Detox for Everyone&quot; </span></div>
            </li>
            <li class="main-page__award2"><img src="img/icons/reward.webp" alt="reward">
                <div class="main-page__text"> Doctor <span class="main-page__b"> of Preventive </span>
                    Medicine </div>
            </li>
            <li class="main-page__award3"><img src="img/icons/wreath.webp" alt="wreath">
                <div class="main-page__text"> Author of the Premium Course <span class="main-page__b">
                        «SmartDetoxic» </span></div>
            </li>
        </ul>
    </div>
</section>
