<section class="pay">
    <div class="section sectPay">
        <div class="section__title">
            <h4> Pro přístup ke kurzu <br> zadejte údaje ze své karty </h4>
        </div>
        <div class="sectPay__imgCards"></div>
        <div class="sectPay__cards">
            <form action="#" name="validation" id="validation" class="sectPay__card">
                <div id="card-element" class="StripeElement StripeElement--empty form-payment__number cardHolder" style="font-size: .8rem;
                        width: 100%;
                        border: 1px solid #D6D7D8;
                        padding: 0.625rem;
                        background-color: #F9F9FA;
                        margin-bottom: 10px;
                        letter-spacing: 1px;">
                </div>
                <div class="sectPay__center">
                    <div id="card-element2" class="StripeElement StripeElement--empty form-payment__date" style="font-size: .8rem;
                            width: 100%;
                            background-color: #F9F9FA;
                            letter-spacing: 1px;">
                    </div>
                    <div id="card-element3" class="StripeElement StripeElement--empty form-payment__cvv" style="font-size: .8rem;
                            width: 100%;
                            background-color: #F9F9FA;
                            letter-spacing: 1px;">
                    </div>
                </div>
                <div class="sectPay__name">
                    <p> Jméno na kartě </p><input class="name-inp" placeholder="*MARIA NOVAK" type="text"
                        onclick="dataLayer.push({                            'event' : 'input_name',                            'category' : 'quiz pay',                            'action' : 'click',                            'label' : 'input_name'                         });">
                </div>
            </form>
        </div>
        <!--                     <div class="section1__check">
<div class="check">
    <input type="checkbox" name="radPay" id="radPay" class="rad1 radPay">
    <label for="radPay">Я принимаю <a href="#">Условия обслуживания</a> и <a href="#">Политику
            конфиденциальности</a>.</label>
</div>
</div> -->
        <!--                     <div class="content__container-checkbox section1__check">
<div class="checkbox content-check check">
    <input class="custom-checkbox rad1 radPay" type="checkbox" name="radPay" id="radPay">
    <label for="radPay" id="PrivacyPolicy">
        Я принимаю Условия обслуживания и Политику конфиденциальности.
    </label>
</div>
</div> -->
        <div class="sectPay__btn">
            <button class="btn-pay content-button js-open-modal"
                onclick="dataLayer.push({                    'event' : 'Subscribe',                    'category' : 'quiz pay',                    'action' : 'click',                    'label' : 'Subscribe'                 });"
                data-modal="2">
                <p> Zaplatit </p>
            </button><!-- <p class="cansel">Отменить <span class="br"></span> оплату</p> -->
        </div>
        <div id="card-errors" style="height: 20px;"></div>
        <div id="payment-request-button-apple"></div>
        <div id="payment-request-button"></div>
        <div class="wrapper-loader" style="margin-top: 20px;">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- <div class="sectPay__desc">
<p>  Pokud máte otázky nebo nějaký problém - napište mi:  </p>
<p>support@nowun.online</p>
</div> -->
    </div><!-- <button class="test__buttonB"></button> -->
</section>
