<section class="test test__q0">
    <div class="test__title"> Vyberte svoje pohlaví: </div>
    <ul class="test__buttons"><button class="test__button"><img
                src="img/man.webp"
                alt="man"> muž </button> <button class="test__button"><img
                src="img/woman.webp"
                alt="woman"> žena </button></ul>
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q1">
    <div class="test__title"> Váš věk: </div>
    <ul class="test__inputs"><input id="radio-0" type="radio" name="age" class="test__input"> <label
            for="radio-0">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 18-24 </div>
        </label> <input id="radio-1" type="radio" name="age" class="test__input"> <label for="radio-1">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 25-34 </div>
        </label> <input id="radio-2" type="radio" name="age" class="test__input"> <label for="radio-2">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 35-44 </div>
        </label> <input id="radio-3" type="radio" name="age" class="test__input"> <label for="radio-3">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 45+ </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q2">
    <div class="test__title"> Vaše výška: </div>
    <ul class="test__inputs"><input id="text-0" type="text" name="dimensions" class="test__input"
            maxlength="3" placeholder="Zadejte svoji výšku">
        <div class="test__input-text"> cm </div>
    </ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q3">
    <div class="test__green-window">
        <div class="test__green-text-img"><span> Čisté a zdravé tělo znamená lepší kvalitu života a vyšší
                schopnost žít naplno a otevřeně. </span><img
                src="img/expert-s.webp"
                alt="expert-s"></div><br> Můj vlastní autorský detox plán vám pomůže <span class="green b">
            v krátké době dostat tělo do správného stavu i bez léků a pochybných doplňků stravy! </span>
    </div>
    <div class="test__title"> Vaše aktuální váha: </div>
    <ul class="test__inputs"><input id="text-1" type="text" name="dimensions" class="test__input"
            maxlength="4" placeholder="Zadejte svoji váhu">
        <div class="test__input-text"> kg </div>
    </ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q4">
    <div class="test__title"> Máte potíže s pletí? </div>
    <ul class="test__inputs"><input id="radio-4" type="radio" name="skeen" class="test__input"> <label
            for="radio-4">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-5" type="radio" name="skeen" class="test__input"> <label for="radio-5">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q5">
    <div class="test__title"> Máte nějaké chronické nemoci? </div>
    <ul class="test__inputs"><input id="radio-6" type="radio" name="chronic" class="test__input"> <label
            for="radio-6">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-7" type="radio" name="chronic" class="test__input"> <label for="radio-7">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q6">
    <div class="test__title"> Pokud máte kožní potíže, uveďte které: </div>
    <ul class="test__inputs"><input id="checkbox-0" type="checkbox" name="causal-condition"
            class="test__input"> <label for="checkbox-0">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Akné </div>
        </label> <input id="checkbox-1" type="checkbox" name="causal-condition" class="test__input"> <label
            for="checkbox-1">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Růžovka </div>
        </label> <input id="checkbox-2" type="checkbox" name="causal-condition" class="test__input"> <label
            for="checkbox-2">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Dermatitida </div>
        </label> <input id="checkbox-3" type="checkbox" name="causal-condition" class="test__input"> <label
            for="checkbox-3">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Herpes </div>
        </label> <input id="checkbox-4" type="checkbox" name="causal-condition" class="test__input"> <label
            for="checkbox-4">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Papiloma </div>
        </label> <input id="checkbox-5" type="checkbox" name="causal-condition" class="test__input"> <label
            for="checkbox-5">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Jiné </div>
        </label> <input id="checkbox-6" type="checkbox" name="causal-condition" class="test__nothing">
        <label for="checkbox-6">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Žádné z výše uvedených </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q7">
    <div class="test__title"> Jak spokojení jste se stavem své pleti? </div>
    <ul class="test__inputs"><input id="radio-10" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-10">
            <div class="test__input-text">0</div>
        </label> <input id="radio-11" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-11">
            <div class="test__input-text">1</div>
        </label> <input id="radio-12" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-12">
            <div class="test__input-text">2</div>
        </label> <input id="radio-13" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-13">
            <div class="test__input-text">3</div>
        </label> <input id="radio-14" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-14">
            <div class="test__input-text">4</div>
        </label> <input id="radio-15" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-15">
            <div class="test__input-text">5</div>
        </label> <input id="radio-16" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-16">
            <div class="test__input-text">6</div>
        </label> <input id="radio-17" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-17">
            <div class="test__input-text">7</div>
        </label> <input id="radio-18" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-18">
            <div class="test__input-text">8</div>
        </label> <input id="radio-19" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-19">
            <div class="test__input-text">9</div>
        </label> <input id="radio-20" type="radio" name="skin-happy" class="test__input"> <label
            for="radio-20">
            <div class="test__input-text">10</div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q8">
    <div class="test__title"> Podívejte se na data o mém kurzu v číslech: </div>
    <ul class="test__data-list">
        <li class="test__data data1 anim_item"><span class="test__data-main"> 100% </span><span
                class="test__data-desc"> tréninku <br> online </span></li>
        <li class="test__data data2 anim_item"><span class="test__data-main">360 </span><span
                class="test__data-desc"> hodin videa <br> konzultací </span></li>
        <li class="test__data data3 anim_item"><span class="test__data-main">115 </span><span
                class="test__data-desc"> hodin <br> praxe </span></li>
        <li class="test__data data4 anim_item"><span class="test__data-prev"> Více než </span><span
                class="test__data-main"> 100 kg </span><span class="test__data-desc"> zhubnuto </span></li>
        <li class="test__data data5 anim_item"><span class="test__data-main"> 2000+ </span><span
                class="test__data-desc"> spokojených <br> zdravých lidí! </span></li>
    </ul><button class="test__button"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q9">
    <div class="test__title"> Kolik vody denně vypijete? </div>
    <ul class="test__inputs"><input id="radio-21" type="radio" name="water" class="test__input"> <label
            for="radio-21">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 1-2 sklenice </div>
        </label> <input id="radio-22" type="radio" name="water" class="test__input"> <label for="radio-22">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> 3-4 sklenice </div>
        </label> <input id="radio-23" type="radio" name="water" class="test__input"> <label for="radio-23">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> až 2 litry </div>
        </label> <input id="radio-24" type="radio" name="water" class="test__input"> <label for="radio-24">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> vodu téměř nepiji </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q10">
    <div class="test__title"> Už jste někdy absolvovali detox kurz? </div>
    <ul class="test__inputs"><input id="radio-25" type="radio" name="here-again" class="test__input"> <label
            for="radio-25">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-26" type="radio" name="here-again" class="test__input"> <label
            for="radio-26">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q11">
    <div class="test__title"> Jak často jste nemocní? </div>
    <ul class="test__inputs"><input id="radio-27" type="radio" name="how-often" class="test__input"> <label
            for="radio-27">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> často, každé 2-3 měsíce </div>
        </label> <input id="radio-28" type="radio" name="how-often" class="test__input"> <label
            for="radio-28">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> pouze v období chřipek a nachlazení </div>
        </label> <input id="radio-29" type="radio" name="how-often" class="test__input"> <label
            for="radio-29">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> ne moc často </div>
        </label> <input id="radio-30" type="radio" name="how-often" class="test__input"> <label
            for="radio-30">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> nevím, jak odpovědět </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q12">
    <div class="test__title"> Berete <br> probiotika/prebiotika? </div>
    <ul class="test__inputs"><input id="radio-31" type="radio" name="pro/pre" class="test__input"> <label
            for="radio-31">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-32" type="radio" name="pro/pre" class="test__input"> <label
            for="radio-32">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q13">
    <div class="test__title"> Podívejte se, jakých výsledků můžete dosáhnout už za 1 týden: </div>
    <ul class="test__results-list">
        <li class="test__results data1 anim_item">
            <div class="test__results-img"></div>
            <div class="test__results-desc"> zbavit se <br> přebytečné hmotnosti <br><span class="b"> a
                    konečně <br> zeštíhlit </span></div>
        </li>
        <li class="test__results data2 anim_item">
            <div class="test__results-img"></div>
            <div class="test__results-desc"> zlepšit <br> stav <span class="b"> vaší pleti, <br> vlasů a
                    nehtů </span></div>
        </li>
        <li class="test__results data3 anim_item">
            <div class="test__results-img"></div>
            <div class="test__results-desc"> zbavit se <span class="b"><br> suché pleti, akné <br> a vyrážek
                </span></div>
        </li>
        <li class="test__results data4 anim_item">
            <div class="test__results-img"></div>
            <div class="test__results-desc"> obnovit <span class="b"><br> hormonální <br> rovnováhu </span>
            </div>
        </li>
        <li class="test__results data5 anim_item">
            <div class="test__results-img"></div>
            <div class="test__results-desc"> obnovit energii <br> a cítit se <br><span class="b"> šťastně!
                </span></div>
        </li>
    </ul><button class="test__button"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q14">
    <div class="test__title"> Jak často jíte sladkosti? </div>
    <ul class="test__inputs"><input id="radio-33" type="radio" name="sweet" class="test__input"> <label
            for="radio-33">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> každý den </div>
        </label> <input id="radio-34" type="radio" name="sweet" class="test__input"> <label for="radio-34">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> párkrát za týden </div>
        </label> <input id="radio-35" type="radio" name="sweet" class="test__input"> <label for="radio-35">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> několikrát za měsíc </div>
        </label> <input id="radio-36" type="radio" name="sweet" class="test__input"> <label for="radio-36">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> skoro vůbec </div>
        </label> <input id="radio-37" type="radio" name="sweet" class="test__input"> <label for="radio-37">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> nevím, jak odpovědět </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q15">
    <div class="test__title"> Jak spokojení jste se svým tělem? </div>
    <ul class="test__inputs"><input id="radio-38" type="radio" name="body-happy" class="test__input"> <label
            for="radio-38">
            <div class="test__input-text">1</div>
        </label> <input id="radio-39" type="radio" name="body-happy" class="test__input"> <label
            for="radio-39">
            <div class="test__input-text">2</div>
        </label> <input id="radio-40" type="radio" name="body-happy" class="test__input"> <label
            for="radio-40">
            <div class="test__input-text">3</div>
        </label> <input id="radio-41" type="radio" name="body-happy" class="test__input"> <label
            for="radio-41">
            <div class="test__input-text">4</div>
        </label> <input id="radio-42" type="radio" name="body-happy" class="test__input"> <label
            for="radio-42">
            <div class="test__input-text">5</div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q16">
    <div class="test__title"> Jste vegan/vegetarián? </div>
    <ul class="test__inputs"><input id="radio-43" type="radio" name="vegan" class="test__input"> <label
            for="radio-43">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-44" type="radio" name="vegan" class="test__input"> <label for="radio-44">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q17">
    <div class="test__title"> Berete nějaké doplňky stravy? </div>
    <ul class="test__inputs"><input id="radio-45" type="radio" name="BAD" class="test__input"> <label
            for="radio-45">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-46" type="radio" name="BAD" class="test__input"> <label for="radio-46">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
<!-- ____________________________________________________________________________________________________________________________ -->
<section class="test test__q18">
    <div class="test__title"> A poslední otázka, máte potíže se štítnou žlázou? </div>
    <ul class="test__inputs"><input id="radio-47" type="radio" name="thyroid-diseases" class="test__input">
        <label for="radio-47">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ano </div>
        </label> <input id="radio-48" type="radio" name="thyroid-diseases" class="test__input"> <label
            for="radio-48">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> Ne </div>
        </label> <input id="radio-49" type="radio" name="thyroid-diseases" class="test__input"> <label
            for="radio-49">
            <div class="test__point">
                <div class="test__active-point"></div>
            </div>
            <div class="test__input-text"> nevím, jak odpovědět </div>
        </label></ul><button class="test__button" disabled="disabled"> Další </button>
    <!-- <button class="test__buttonB">
Назад
</button> -->
</section>
